<nav>
  <div class="site-title">
    <a href="/"><h1>Encuentros</h1></a>
    <p>Resultados</p>
  </div>
  <ul>
    <li><a href="/">Reportes</a></li>
    <li><a href="/about">Acerca de</a></li>
    <li><a href="/blogs/create">+ Crear</a></li>
  </ul>
</nav>